@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pet Shop</h1>
    <p class="lead">Pet Shop</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Despre noi &raquo;</a></p>
</div>